---
---

@import "minima";

@font-face {
    font-family: Comfortaa;
    src:local("/fonts/Comfortaa_regular.ttf");
}
body {
    font-family: "Comfortaa_regular", serif;
    font-optical-sizing: auto;
    font-weight: 416;
    font-style: normal;
}
